@import url(./zzspinner.css);

:root {
    --header-height: 61px;
    --main-color: Teal;
}

body {
  margin: 0;
  padding: 0;
}

body > header {
  background-color: var(--main-color);
  color: White;
  display: grid;
  grid-template-columns: 80% 20%;
  font-size: 28px;
  font-weight: bold;
  height: var(--header-height);
  line-height: var(--header-height);
  padding-left: 1em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10910516;
}

header > figure {
  padding-right: 1.6em;
}

body > main {
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  margin-top: var(--header-height);
  width: 100%;
}

hr {
  border-style: dashed;
  border-width: 0.5px;
  margin-block-end: 0;
  margin-block-start: 0;
  margin-bottom: 7px;
}

figcaption {
  pointer-events: none;
}

figcaption::before {
  content: '\0022EE';
  display: none;
  font-weight: bold;
  padding-right: 0.5em;
  pointer-events: all;
}

figure {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  text-align: right;
}

main > ul {
  border-radius: 13px;
  border-style: outset;
  margin: 7px;
  padding-left: 1em;
  padding-right: 1.6em;
  padding-bottom: 0.7em;
  padding-top: 0.7em;
}

main > ul > li {
  display: grid;
  grid-template-columns: 80% 20%;
  font-size: 21px;
  line-height: 36px;
  list-style-type: none;
}

#coolerWater {
  display: none;
}

input[type=text] {
  padding: 7px;
  margin: 7px 0;
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid Gray;
  background-color: WhiteSmoke;
  outline: none;
}

input[type=text]:focus {
  outline: 1px solid var(--main-color);
}
