.zzspinner {
  align-self: center;
  animation: zzspin 1s linear infinite;
  border-bottom: 7px solid lime;
  border-left: 7px solid tomato;
  border-radius: 50%;
  border-right: 7px solid plum;
  border-top: 7px solid olive;
  height: 7px;
  justify-self: right;
  width: 9px;
}

@keyframes zzspin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.zzspinner:empty {
  animation-play-state: paused;
  filter: brightness(61%);
}

.zzspinner.neverrun {
  filter: brightness(28%);
}

.zzspinner.unavailable {
  background-color: DarkSlateGray;
  border-top: 7px solid LightGray;
  border-right: 7px solid DarkGray;
  border-bottom: 7px solid LightGray;
  border-left: 7px solid DarkGray;
  filter: brightness(100%);
}
